
#assetLinechart .ct-series .ct-bar {
  stroke-width: 9px;
  stroke:#6753EC;
}

#assetLinechart .ct-chart-bar {
  overflow: visible;
  margin : 0 0 30px 0;
  
}

#assetLinechart .ct-grid {
stroke: #E3E3E3;
stroke-width: 1px;
}


#assetLinechart .ct-label{
   color: #424242;
  font: normal normal 15px SourceSansPro-Regular;
  font-size: 12px;
	height: 40px !important;
}

#assetLinechart {
	width: 90%;
	margin: auto;
}