#multiLinechart.ct-series .ct-bar {
  stroke-width: 9px;
  stroke:#6753EC;
 
}

#multiLinechart {
	width: 90%;
}


#multiLinechart .ct-bar {
  fill: none;
  stroke-width: 14px;

}

#multiLinechart .ct-chart-bar {
  overflow: visible;
  margin : 0 0 30px 0;

}

#multiLinechart .ct-grid {
  stroke: rgb(0 0 0 / 20%);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}



#multiLinechart .ct-label{
  color: #424242;
  font: normal normal 15px SourceSansPro-Regular;
  font-size: 13px;
  }

#multiLinechart.ct-grids{
	left:10px
}



