
#StrategyDonutChart .ct-label{
  visibility: hidden;
  
}

/*#StrategyDonutChart .ct-slice-donut:hover{
  stroke-width: 50px !important;
  transition: all 0.5s ease;
}*/

#StrategyDonutChart .chartist-tooltip {
    position: absolute;
	width: auto;
	height: 30px;
	top: 100;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.7);
    transition: transform 0.2s ease-in-out;
	color: #fff;
	text-align: center;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 15px;
	}
 #StrategyDonutChart .chartist-tooltip:not([hidden]) {
        visibility: visible;
        transform: none;
        opacity: 1;
    }

    /* Tooltip arrow */
   #StrategyDonutChart .chartist-tooltip::before {
	content: attr(tooltip);
	position: absolute;
	opacity: 0;
	transition: all 0.2s ease;
          z-index: -1;
         font-family: 'Source Sans Pro', sans-serif;
		 font-size: 15px;
		 font-style: bold;
        transform: scaleY(0.7);
        text-shadow: 0 0.25em 0.35em rgba(255, 255, 255, 0.9);	
			border-radius: 15px;
    }
       #StrategyDonutChart .chartist-tooltip--left::before {
            left: 0.75em;
        }
       #StrategyDonutChart .chartist-tooltip--right::before {
            left: auto;
            right: 0.75em;
        }

/* Adds a small point transition (line charts) when the point is active */
#StrategyDonutChart .ct-point {
    transition: all 0.2s ease-in-out;
		border-radius: 15px;
}

/* Increased specificity intended to overwrite the default chartist style */
    #StrategyDonutChart .ct-chart-line.ct-chart-line .ct-point--hover {
        stroke-width: 1.50em;
			border-radius: 15px;
    }